In [1]:
import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt  
import seaborn as sns

In [2]:
f1_19_race_results =  pd.read_csv('../../data/formula1_datasets/formula1_2019season_raceresults.csv')

In [3]:
f1_19_drivers =  pd.read_csv('../../data/formula1_datasets/formula1_2019season_drivers.csv')

In [4]:
f1_20_race_results =  pd.read_csv('../../data/formula1_datasets/formula1_2020season_raceresults.csv')

In [5]:
f1_20_drivers =  pd.read_csv('../../data/formula1_datasets/formula1_2020season_drivers.csv')

In [6]:
f1_21_race_results =  pd.read_csv('../../data/formula1_datasets/formula1_2021season_raceresults.csv')

In [7]:
f1_21_drivers =  pd.read_csv('../../data/formula1_datasets/formula1_2021season_drivers.csv')

In [8]:
f1_22_race_results =  pd.read_csv('../../data/formula1_datasets/formula1_2022season_raceresults.csv')

In [9]:
f1_22_drivers =  pd.read_csv('../../data/formula1_datasets/formula1_2022season_drivers.csv')

In [10]:
f1_23_race_results =  pd.read_csv('../../data/formula1_datasets/formula1_2023season_raceresults.csv')

In [11]:
f1_23_drivers =  pd.read_csv('../../data/formula1_datasets/formula1_2023season_drivers.csv')

In [12]:
f1_24_race_results =  pd.read_csv('../../data/formula1_datasets/formula1_2024season_raceresults.csv')

In [13]:
f1_constructors =  pd.read_csv('../../data/archive/constructors.csv')

In [14]:
f1_qualy =  pd.read_csv('../../data/archive/qualifying.csv')

In [15]:
f1_constructor_results =  pd.read_csv('../../data/archive/constructor_results.csv')

In [16]:
f1_constructor_standings =  pd.read_csv('../../data/archive/constructor_standings.csv')

In [17]:
f1_standings =  pd.read_csv('../../data/archive/driver_standings.csv')

In [18]:
f1_lap_times =  pd.read_csv('../../data/archive/lap_times.csv')

In [19]:
f1_status =  pd.read_csv('../../data/archive/status.csv')

In [20]:
f1_sprint_results =  pd.read_csv('../../data/archive/sprint_results.csv')

In [21]:
f1_drivers =  pd.read_csv('../../data/archive/drivers.csv')

In [22]:
f1_races =  pd.read_csv('../../data/archive/races.csv')

In [23]:
f1_lap_times.head()

   raceId  driverId  lap  position      time  milliseconds
0     841        20    1         1  1:38.109         98109
1     841        20    2         1  1:33.006         93006
2     841        20    3         1  1:32.713         92713
3     841        20    4         1  1:32.803         92803
4     841        20    5         1  1:32.342         92342

In [24]:
f1_standings.head()

   driverStandingsId  raceId  driverId  points  position positionText  wins
0                  1      18         1    10.0         1            1     1
1                  2      18         2     8.0         2            2     0
2                  3      18         3     6.0         3            3     0
3                  4      18         4     5.0         4            4     0
4                  5      18         5     4.0         5            5     0

In [25]:
f1_drivers.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [26]:
f1_races.head()

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [27]:
f1_qualy.head()

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236

In [28]:
# Used to filter for Max and other drivers

f1_drivers_ver = f1_drivers[f1_drivers['surname'] == 'Verstappen']
f1_drivers_ver

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
49,50,verstappen,\N,\N,Jos,Verstappen,1972-03-04,Dutch,http://en.wikipedia.org/wiki/Jos_Verstappen
829,830,max_verstappen,33,VER,Max,Verstappen,1997-09-30,Dutch,http://en.wikipedia.org/wiki/Max_Verstappen

In [29]:
f1_drivers_selects = f1_drivers[f1_drivers['driverId'].isin([815,848,830])]

In [30]:
f1_drivers_selects

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
814,815,perez,11,PER,Sergio,Pérez,1990-01-26,Mexican,http://en.wikipedia.org/wiki/Sergio_P%C3%A9rez
829,830,max_verstappen,33,VER,Max,Verstappen,1997-09-30,Dutch,http://en.wikipedia.org/wiki/Max_Verstappen
846,848,albon,23,ALB,Alexander,Albon,1996-03-23,Thai,http://en.wikipedia.org/wiki/Alexander_Albon

In [31]:
f1_19_drivers.head()

,Driver,Number,Team,Country,Podiums,Points,Grands Prix Entered,World Championships,Highest Race Finish,Highest Grid Position,Date of Birth,Place of Birth
0,Lewis Hamilton,44,Mercedes,United Kingdom,151,3431,250,6,1(x84),1,07/07/1985,"Stevenage, England"
1,Valtteri Bottas,77,Mercedes,Finland,45,1289,140,0,1(x7),1,28/08/1989,"Nastola, Finland"
2,Max Verstappen,33,Red Bull Racing,Netherlands,31,948,102,0,1(x8),1,30/09/1997,"Hasselt, Belgium"
3,Charles Leclerc,16,Ferrari,Monaco,10,303,42,0,1(x2),1,16/10/1997,"Monte Carlo, Monaco"
4,Sebastian Vettel,5,Ferrari,Germany,120,2985,241,4,1(x53),1,03/07/1987,"Heppenheim, Germany"

In [32]:
f1_23_race_results['Driver'].unique()

array(['Max Verstappen', 'Sergio Perez', 'Fernando Alonso',
       'Carlos Sainz', 'Lewis Hamilton', 'Lance Stroll', 'George Russell',
       'Valtteri Bottas', 'Pierre Gasly', 'Alexander Albon',
       'Yuki Tsunoda', 'Logan Sargeant', 'Kevin Magnussen',
       'Nyck De Vries', 'Nico Hulkenberg', 'Guanyu Zhou', 'Lando Norris',
       'Esteban Ocon', 'Charles Leclerc', 'Oscar Piastri',
       'Daniel Ricciardo', 'Liam Lawson'], dtype=object)

In [33]:
f1_19_race_results_selects = f1_19_race_results[f1_19_race_results['Driver'].isin(['Max Verstappen', 'Alexander Albon', 'Sergio Perez', 'Pierre Gasly'])]

In [34]:
f1_19_race_results_selects.head()

,Track,Position,No,Driver,Team,Starting Grid,Laps,Total Time/Gap/Retirement,Points,Fastest Lap
2,Australia,3,33,Max Verstappen,Red Bull Racing Honda,4,58,+22.520,15,No
10,Australia,11,10,Pierre Gasly,Red Bull Racing Honda,17,57,+1 lap,0,No
12,Australia,13,11,Sergio Perez,Racing Point BWT Mercedes,10,57,+1 lap,0,No
13,Australia,14,23,Alexander Albon,Scuderia Toro Rosso Honda,13,57,+1 lap,0,No
23,Bahrain,4,33,Max Verstappen,Red Bull Racing Honda,5,57,+6.408,12,No

In [35]:
f1_20_race_results_selects = f1_20_race_results[f1_20_race_results['Driver'].isin(['Max Verstappen', 'Alexander Albon', 'Sergio Perez'])]

In [36]:
f1_20_race_results_selects.head()

,Track,Position,No,Driver,Team,Starting Grid,Laps,Total Time/Gap/Retirement,Points,Fastest Lap
5,Austria,6,11,Sergio Perez,Racing Point BWT Mercedes,6,71,+15.092,8,No
12,Austria,13,23,Alexander Albon,Red Bull Racing Honda,4,67,DNF,0,No
19,Austria,NC,33,Max Verstappen,Red Bull Racing Honda,2,11,DNF,0,No
22,Styria,3,33,Max Verstappen,Red Bull Racing Honda,2,71,+33.698,15,No
23,Styria,4,23,Alexander Albon,Red Bull Racing Honda,6,71,+44.400,12,No

In [37]:
f1_21_race_results_selects = f1_21_race_results[f1_21_race_results['Driver'].isin(['Max Verstappen', 'Alexander Albon', 'Sergio Perez'])]

In [38]:
f1_21_race_results_selects.head()

,Track,Position,No,Driver,Team,Starting Grid,Laps,Time/Retired,Points,+1 Pt,Fastest Lap
1,Bahrain,2,33,Max Verstappen,Red Bull Racing Honda,1.0,56,+0.745,18.0,No,1:33.228
4,Bahrain,5,11,Sergio Perez,Red Bull Racing Honda,11.0,56,+52.047,10.0,No,1:33.970
20,Emilia Romagna,1,33,Max Verstappen,Red Bull Racing Honda,2.0,63,2:02:34.598,25.0,No,1:17.524
30,Emilia Romagna,11,11,Sergio Perez,Red Bull Racing Honda,2.0,63,+67.151,0.0,No,1:18.334
41,Portugal,2,33,Max Verstappen,Red Bull Racing Honda,3.0,66,+29.148,18.0,No,1:20.695

In [39]:
f1_22_race_results_selects = f1_22_race_results[f1_22_race_results['Driver'].isin(['Max Verstappen', 'Alexander Albon', 'Sergio Perez'])]
f1_22_race_results_selects.head()

,Track,Position,No,Driver,Team,Starting Grid,Laps,Time/Retired,Points,+1 Pt,Fastest Lap
12,Bahrain,13,23,Alexander Albon,Williams Mercedes,14,57,+53.932,0,No,1:37.355
17,Bahrain,18,11,Sergio Perez,Red Bull Racing RBPT,4,56,DNF,0,No,1:36.089
18,Bahrain,19,1,Max Verstappen,Red Bull Racing RBPT,2,54,DNF,0,No,1:35.440
20,Saudi Arabia,1,1,Max Verstappen,Red Bull Racing RBPT,4,50,1:24:19.293,25,No,1:31.772
23,Saudi Arabia,4,11,Sergio Perez,Red Bull Racing RBPT,1,50,+10.800,12,No,1:32.042

In [40]:
f1_23_race_results_selects = f1_23_race_results[f1_23_race_results['Driver'].isin(['Max Verstappen', 'Alexander Albon', 'Sergio Perez'])]
f1_23_race_results_selects.head()

,Track,Position,No,Driver,Team,Starting Grid,Laps,Time/Retired,Points,Set Fastest Lap,Fastest Lap Time
0,Bahrain,1,1,Max Verstappen,Red Bull Racing Honda RBPT,1,57,1:33:56.736,25,No,1:36.236
1,Bahrain,2,11,Sergio Perez,Red Bull Racing Honda RBPT,2,57,+11.987,18,No,1:36.344
9,Bahrain,10,23,Alexander Albon,Williams Mercedes,15,57,+89.774,1,No,1:37.144
20,Saudi Arabia,1,11,Sergio Perez,Red Bull Racing Honda RBPT,1,50,1:21:14.894,25,No,1:32.188
21,Saudi Arabia,2,1,Max Verstappen,Red Bull Racing Honda RBPT,15,50,+5.335,19,Yes,1:31.906

In [41]:
f1_24_race_results_selects = f1_24_race_results[f1_24_race_results['Driver'].isin(['Max Verstappen', 'Alexander Albon', 'Sergio Perez'])]
f1_24_race_results_selects.head()

,Track,Position,No,Driver,Team,Starting Grid,Laps,Time/Retired,Points,Set Fastest Lap,Fastest Lap Time
0,Bahrain,1,1,Max Verstappen,Red Bull Racing Honda RBPT,1,57,1:31:44.742,26,Yes,1:32.608
1,Bahrain,2,11,Sergio Perez,Red Bull Racing Honda RBPT,5,57,+22.457,18,No,1:34.364
14,Bahrain,15,23,Alexander Albon,Williams Mercedes,13,56,+1 lap,0,No,1:35.723
20,Saudi Arabia,1,1,Max Verstappen,Red Bull Racing Honda RBPT,1,50,1:20:43.273,25,No,1:31.773
21,Saudi Arabia,2,11,Sergio Perez,Red Bull Racing Honda RBPT,3,50,+13.643,18,No,1:32.273

In [42]:
#Gasly vs verstappen

Gasly_rb_season_1 = f1_19_race_results_selects[f1_19_race_results_selects['Driver'].isin(['Pierre Gasly', 'Max Verstappen'])]
Gasly_rb_season_1.head()

,Track,Position,No,Driver,Team,Starting Grid,Laps,Total Time/Gap/Retirement,Points,Fastest Lap
2,Australia,3,33,Max Verstappen,Red Bull Racing Honda,4,58,+22.520,15,No
10,Australia,11,10,Pierre Gasly,Red Bull Racing Honda,17,57,+1 lap,0,No
23,Bahrain,4,33,Max Verstappen,Red Bull Racing Honda,5,57,+6.408,12,No
27,Bahrain,8,10,Pierre Gasly,Red Bull Racing Honda,13,57,+58.094,4,No
43,China,4,33,Max Verstappen,Red Bull Racing Honda,5,56,+27.627,12,No

In [43]:
#Albon vs verstappen

Albon_rb_season_1 = f1_20_race_results_selects[f1_20_race_results_selects['Driver'].isin(['Alexander Albon', 'Max Verstappen'])]
Albon_rb_season_1.head()

,Track,Position,No,Driver,Team,Starting Grid,Laps,Total Time/Gap/Retirement,Points,Fastest Lap
12,Austria,13,23,Alexander Albon,Red Bull Racing Honda,4,67,DNF,0,No
19,Austria,NC,33,Max Verstappen,Red Bull Racing Honda,2,11,DNF,0,No
22,Styria,3,33,Max Verstappen,Red Bull Racing Honda,2,71,+33.698,15,No
23,Styria,4,23,Alexander Albon,Red Bull Racing Honda,6,71,+44.400,12,No
41,Hungary,2,33,Max Verstappen,Red Bull Racing Honda,7,70,+8.702,18,No

In [44]:
#Perez vs verstappen

Perez_rb_season_1 = f1_21_race_results_selects[f1_21_race_results_selects['Driver'].isin(['Sergio Perez', 'Max Verstappen'])]
Perez_rb_season_1.head()

,Track,Position,No,Driver,Team,Starting Grid,Laps,Time/Retired,Points,+1 Pt,Fastest Lap
1,Bahrain,2,33,Max Verstappen,Red Bull Racing Honda,1.0,56,+0.745,18.0,No,1:33.228
4,Bahrain,5,11,Sergio Perez,Red Bull Racing Honda,11.0,56,+52.047,10.0,No,1:33.970
20,Emilia Romagna,1,33,Max Verstappen,Red Bull Racing Honda,2.0,63,2:02:34.598,25.0,No,1:17.524
30,Emilia Romagna,11,11,Sergio Perez,Red Bull Racing Honda,2.0,63,+67.151,0.0,No,1:18.334
41,Portugal,2,33,Max Verstappen,Red Bull Racing Honda,3.0,66,+29.148,18.0,No,1:20.695

In [45]:
driver_qualy = f1_qualy[f1_qualy['driverId'].isin([815,830,848,842])]

In [46]:
driver_qualy

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
4547,4549,841,815,15,17,13,1:25.812,1:26.108,\N
4574,4577,842,815,15,17,16,1:37.759,1:37.528,\N
4594,4597,843,815,15,17,12,1:36.046,1:36.053,\N
4621,4624,844,815,15,17,15,1:27.778,1:27.244,\N
4641,4644,845,815,15,17,12,1:24.209,1:23.367,\N
...,...,...,...,...,...,...,...,...,...
10229,10287,1131,848,3,23,16,1:05.736,\N,\N
10237,10295,1132,830,9,1,4,1:31.342,1:26.796,1:26.203
10242,10300,1132,848,3,23,9,1:31.135,1:26.933,1:26.640
10252,10310,1132,815,9,11,19,1:38.348,\N,\N
10253,10311,1132,842,214,10,20,1:39.804,\N,\N

In [47]:
f1_races_id_name = f1_races[['raceId','name', 'year']]

In [48]:
f1_races_id_name

      raceId                    name  year
0          1   Australian Grand Prix  2009
1          2    Malaysian Grand Prix  2009
2          3      Chinese Grand Prix  2009
3          4      Bahrain Grand Prix  2009
4          5      Spanish Grand Prix  2009
...      ...                     ...   ...
1120    1140  Mexico City Grand Prix  2024
1121    1141    São Paulo Grand Prix  2024
1122    1142    Las Vegas Grand Prix  2024
1123    1143        Qatar Grand Prix  2024
1124    1144    Abu Dhabi Grand Prix  2024

[1125 rows x 3 columns]

In [49]:
f1_drivers_id_name = f1_drivers[['driverId', 'code','surname']]

In [50]:
f1_drivers_id_name

     driverId code     surname
0           1  HAM    Hamilton
1           2  HEI    Heidfeld
2           3  ROS     Rosberg
3           4  ALO      Alonso
4           5  KOV  Kovalainen
..        ...  ...         ...
854       856  DEV    de Vries
855       857  PIA     Piastri
856       858  SAR    Sargeant
857       859  LAW      Lawson
858       860  BEA     Bearman

[859 rows x 3 columns]

In [51]:
driver_qualy_s = driver_qualy.merge(f1_races_id_name, how='inner', on='raceId')

In [52]:
driver_qualy_s.head()

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3,name,year
0,4549,841,815,15,17,13,1:25.812,1:26.108,\N,Australian Grand Prix,2011
1,4577,842,815,15,17,16,1:37.759,1:37.528,\N,Malaysian Grand Prix,2011
2,4597,843,815,15,17,12,1:36.046,1:36.053,\N,Chinese Grand Prix,2011
3,4624,844,815,15,17,15,1:27.778,1:27.244,\N,Turkish Grand Prix,2011
4,4644,845,815,15,17,12,1:24.209,1:23.367,\N,Spanish Grand Prix,2011

In [53]:
driver_qualy_sel = driver_qualy_s.merge(f1_drivers_id_name, how='inner', on='driverId')

In [54]:
#quali for each year(to compare quali for each driver)

driver_qualy_sel_19 = driver_qualy_sel[driver_qualy_sel['year'].isin([2019])]
driver_qualy_sel_20 = driver_qualy_sel[driver_qualy_sel['year'].isin([2020])]
driver_qualy_sel_21 = driver_qualy_sel[driver_qualy_sel['year'].isin([2021])]
driver_qualy_sel_22 = driver_qualy_sel[driver_qualy_sel['year'].isin([2022])]
driver_qualy_sel_23 = driver_qualy_sel[driver_qualy_sel['year'].isin([2023])]
driver_qualy_sel_24 = driver_qualy_sel[driver_qualy_sel['year'].isin([2024])]

In [55]:
driver_qualy_sel_19.head()

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3,name,year,code,surname
156,7969,1010,815,211,11,10,1:22.908,1:22.532,1:22.781,Australian Grand Prix,2019,PER,Pérez
157,7993,1011,815,211,11,14,1:29.893,1:29.756,\N,Bahrain Grand Prix,2019,PER,Pérez
158,8011,1012,815,211,11,12,1:34.026,1:33.299,\N,Chinese Grand Prix,2019,PER,Pérez
159,8022,1013,815,211,11,5,1:42.249,1:41.870,1:41.593,Azerbaijan Grand Prix,2019,PER,Pérez
160,8052,1014,815,211,11,15,1:18.286,1:17.886,\N,Spanish Grand Prix,2019,PER,Pérez

In [56]:
driver_lap_times = f1_lap_times.merge(f1_drivers_id_name, how='inner', on='driverId')

In [57]:
driver_lap_times_selects = driver_lap_times[driver_lap_times['driverId'].isin([815,830,848,842])]

In [58]:
driver_lap_times_selects = driver_lap_times_selects.merge(f1_races_id_name, how='inner', on='raceId')

In [59]:
#lap times by year (to mesure gab to max)

driver_lap_times_selects_19 = driver_lap_times_selects[driver_lap_times_selects['year'].isin([2019])]
driver_lap_times_selects_20 = driver_lap_times_selects[driver_lap_times_selects['year'].isin([2020])]
driver_lap_times_selects_21 = driver_lap_times_selects[driver_lap_times_selects['year'].isin([2021])]
driver_lap_times_selects_22 = driver_lap_times_selects[driver_lap_times_selects['year'].isin([2022])]
driver_lap_times_selects_23 = driver_lap_times_selects[driver_lap_times_selects['year'].isin([2023])]
driver_lap_times_selects_24 = driver_lap_times_selects[driver_lap_times_selects['year'].isin([2024])]

In [60]:
driver_lap_times_selects_19.head()

,raceId,driverId,lap,position,time,milliseconds,code,surname,name,year
14075,1010,815,1,12,1:42.296,102296,PER,Pérez,Australian Grand Prix,2019
14076,1010,815,2,12,1:31.970,91970,PER,Pérez,Australian Grand Prix,2019
14077,1010,815,3,12,1:31.356,91356,PER,Pérez,Australian Grand Prix,2019
14078,1010,815,4,12,1:31.743,91743,PER,Pérez,Australian Grand Prix,2019
14079,1010,815,5,12,1:31.400,91400,PER,Pérez,Australian Grand Prix,2019

In [61]:
#to Compare performance in other teams

f1_23_race_results_williams = f1_23_race_results[f1_23_race_results['Driver'].isin(['Alexander Albon', 'Logan Sargeant'])]
f1_23_race_results_williams.head()

,Track,Position,No,Driver,Team,Starting Grid,Laps,Time/Retired,Points,Set Fastest Lap,Fastest Lap Time
9,Bahrain,10,23,Alexander Albon,Williams Mercedes,15,57,+89.774,1,No,1:37.144
11,Bahrain,12,2,Logan Sargeant,Williams Mercedes,16,56,+1 lap,0,No,1:36.037
35,Saudi Arabia,16,2,Logan Sargeant,Williams Mercedes,20,50,+86.293,0,No,1:34.469
38,Saudi Arabia,NC,23,Alexander Albon,Williams Mercedes,17,27,DNF,0,No,1:35.567
55,Australia,16,2,Logan Sargeant,Williams Mercedes,18,56,DNF,0,No,1:21.456

In [62]:
#to Compare performance in other teams

f1_20_race_results_Torro_Rosso = f1_20_race_results[f1_20_race_results['Driver'].isin(['Yuki Tsunoda','Pierre Gasly'])]
f1_20_race_results_Torro_Rosso.head()

,Track,Position,No,Driver,Team,Starting Grid,Laps,Total Time/Gap/Retirement,Points,Fastest Lap
6,Austria,7,10,Pierre Gasly,AlphaTauri Honda,12,71,+16.682,6,No
34,Styria,15,10,Pierre Gasly,AlphaTauri Honda,7,70,+1 lap,0,No
59,Hungary,NC,10,Pierre Gasly,AlphaTauri Honda,10,15,DNF,0,No
66,Great Britain,7,10,Pierre Gasly,AlphaTauri Honda,11,52,+31.188,6,No
90,70th Anniversary,11,10,Pierre Gasly,AlphaTauri Honda,7,52,+70.642,0,No

In [63]:
#to Compare performance in other teams

f1_20_race_results_racing_point = f1_20_race_results[f1_20_race_results['Driver'].isin(['Sergio Perez','Lance Stroll'])]
f1_20_race_results_racing_point.head()

,Track,Position,No,Driver,Team,Starting Grid,Laps,Total Time/Gap/Retirement,Points,Fastest Lap
5,Austria,6,11,Sergio Perez,Racing Point BWT Mercedes,6,71,+15.092,8,No
17,Austria,NC,18,Lance Stroll,Racing Point BWT Mercedes,9,20,DNF,0,No
25,Styria,6,11,Sergio Perez,Racing Point BWT Mercedes,17,71,+62.387,8,No
26,Styria,7,18,Lance Stroll,Racing Point BWT Mercedes,12,71,+62.453,6,No
43,Hungary,4,18,Lance Stroll,Racing Point BWT Mercedes,3,70,+57.579,12,No

In [64]:
#SOMETHING WEIRD IS HAPPENING HERE, idk why ist doing this 


f1_constructor_results_1 = f1_constructor_results.merge(f1_races_id_name, how='inner', on='raceId')

In [65]:
f1_constructor_results_2 = f1_constructor_results_1[f1_constructor_results_1['year'].isin([2019,2020,2021,2022,2023,2024])]
f1_constructor_results_2.head()

,constructorResultsId,raceId,constructorId,points,status,name,year
10307,16881,1120,6,18.0,\N,Abu Dhabi Grand Prix,2023
10308,16880,1120,9,38.0,\N,Abu Dhabi Grand Prix,2023
10309,16883,1120,1,18.0,\N,Abu Dhabi Grand Prix,2023
10310,16882,1120,131,17.0,\N,Abu Dhabi Grand Prix,2023
10311,16884,1120,117,7.0,\N,Abu Dhabi Grand Prix,2023

In [68]:
f1_constructor_results_3 = f1_constructor_results_2.merge(f1_constructors, how='inner', on='constructorId')

In [69]:
f1_constructor_results_3.head()

,constructorResultsId,raceId,constructorId,points,status,name_x,year,constructorRef,name_y,nationality,url
0,16881,1120,6,18.0,\N,Abu Dhabi Grand Prix,2023,ferrari,Ferrari,Italian,http://en.wikipedia.org/wiki/Scuderia_Ferrari
1,15852,1010,6,22.0,\N,Australian Grand Prix,2019,ferrari,Ferrari,Italian,http://en.wikipedia.org/wiki/Scuderia_Ferrari
2,15861,1011,6,26.0,\N,Bahrain Grand Prix,2019,ferrari,Ferrari,Italian,http://en.wikipedia.org/wiki/Scuderia_Ferrari
3,15871,1012,6,25.0,\N,Chinese Grand Prix,2019,ferrari,Ferrari,Italian,http://en.wikipedia.org/wiki/Scuderia_Ferrari
4,15881,1013,6,26.0,\N,Azerbaijan Grand Prix,2019,ferrari,Ferrari,Italian,http://en.wikipedia.org/wiki/Scuderia_Ferrari